.level2 a{
  padding-left: 45px;
  font-size: 12px;
}
header, main, footer {
  padding-left: 300px;
}

.sidenav-close{
  display: none !important;
}

nav.top-nav {
  height: 122px;
  box-shadow: none;
}
.page-title{
  line-height: 122px;
  font-size: 2.5rem;
  margin: 0;
  padding-left: 10%;
}

.logo{
  margin-top: 20px;
}

h2{
  color: #333;
  font-size: 2rem;
}

img{
  max-width: 100%;
  padding: 10px;
  border: 1px whitesmoke solid;
  border-radius: 10px;
}

body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  flex: 1 0 auto;
}


@media only screen and (max-width : 992px) {
  header, main, footer {
    padding-left: 0;
  }
  .sidenav-close{
    display: block !important;
  }
}
